
.account-view .list-settings{
    display:flex;
}
.user-section {
    margin-right: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    width: fit-content;
    min-width: 350px;
    position: relative;
    height: 100%;
}
.group-section {
    margin-right: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    width: fit-content;
    min-width: 350px;
    position: relative;
}
.group-section .title, .user-section .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.title p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #000000;
}
.title .add {
    width: 20px;
    cursor: pointer;
    height: 20px;
    margin-right: 10px;
    background-color: #e7e5e5;
    padding: 5px;
    border-radius: 4px;
}