@model IEnumerable<ManagerWeb.Models.Secrets>

@{
	ViewData["Title"] = "Здесь будет профиль пользователя";
}

<link rel="stylesheet" href="~/css/Views/Home/account.css" />
<script src="~/js/Views/Home/functions.js"></script>


<h2>@ViewData["Title"]</h2>

<section class="account-view" v-if="load" id="account-page">
	<div class="list-settings">
		<div class="group-section" v-if="user.settings.this.EDIT_SECTION">
			<div class="title">
				<p>Список групп</p>
				<div v-if="user.settings.this.EDIT_SECTION" 
					v-on:click="group.view = 'create'" class="add">
					<img src="~/images/icons/add.svg" />
				</div>
			</div>
			<div class="group-list" v-if="group.view == 'list'">
				<div class="group" v-for="section in group.list" v-on:click="Take(section, 'group')">
					<p>{{section.NAME}}</p>
				</div>
			</div>
			<div class="group-detail" v-if="group.view == 'detail' && group.current != undefined">
				<div class="line cancel" v-on:click="BackToList(group)">Назад</div>
				<div class="line edit" v-on:click="EditGroup(group)">Редактировать</div>
				<div class="card">
					<p>{{group.current.NAME}}</p>
				</div>
			</div>
			<div v-if="group.view == 'edit'" class="group-card">
				<div class="close" v-on:click="group.view = 'detail'">
					<img src="~/images/icons/delete-secret.svg" alt="pencil" />
				</div>
				<form action="/" method="post" v-on:submit="SaveGroup">
					<input type="text" v-model="group.current.NAME" />
					<input type="submit" name="submit" value="отправить" />
				</form>
				<p class="delete" v-on:click="Delete(group.current, 'group')">Удалить</p>
			</div>
			<div v-if="group.view == 'create'" class="group-card">
				<div class="line cancel" v-on:click="BackToList(group)">Назад</div>
				<form action="/" method="post" v-on:submit="CreateGroup">
					<select v-model="group.selectFromList">
						<option :value="user.SECTION_ID">Текущая группа</option>
						<option v-for="item in group.list"
								:value="item.ID">
							{{item.NAME}}
						</option>
						<input type="text" v-model="group.selectName" />
						<input type="submit" value="Отправить" />
					</select>
				</form>
			</div>
		</div>
		<div class="group-section" v-if="user.settings.this.EDIT_USER">
			<div class="title">
				<p>Список пользователей</p>
				<div v-if="user.settings.this.EDIT_USER" 
					v-on:click="user.view = 'create'" class="add">
					<img src="~/images/icons/add.svg" />
				</div>
			</div>
			<div class="group-list" v-if="user.view == 'list'">
				<div class="group" v-for="user in user.list" v-on:click="Take(user, 'user')">
					<p>{{user.NAME}}</p>
				</div>
			</div>
			<div class="group-detail" v-if="user.view == 'detail' && user.current != undefined">
				<div class="line cancel" v-on:click="BackToList(user)">Назад</div>
				<div class="line edit" v-on:click="EditGroup(user)">Редактировать</div>
				<div class="card">
					<p>{{user.current.NAME}}</p>
				</div>
			</div>
			<div v-if="user.view == 'edit'" class="group-card">
				<div class="close" v-on:click="user.view = 'detail'">
					<img src="~/images/icons/delete-secret.svg" alt="pencil" />
				</div>
				<form action="/" method="post" v-on:submit="SaveGroup">
					<input type="text" v-model="user.current.NAME" />
					<input type="submit" name="submit" value="отправить" />
				</form>
				<p class="delete" v-on:click="Delete(user.current, 'user')">Удалить</p>
			</div>
			<div v-if="user.view == 'create'" class="group-card">
				<div class="line cancel" v-on:click="BackToList(user)">Назад</div>
				<form action="/" method="post" v-on:submit="CreateUser">
					<p>Группа к которой относится пользователь</p>
					<select v-model="user.selectFromList">
						<option :value="user.settings.this.SECTION_ID">Текущая группа</option>
						<option v-for="item in group.list"
								:value="item.ID">
							{{item.NAME}}
						</option>
					</select>
					<p>Имя пользователя</p>
					<input type="text" v-model="user.selectName" />
					<p>Email</p>
					<input type="text" v-model="user.email" />
					<p>Пароль</p>
					<input type="text" v-model="user.password" />
					<p>Учавствует в создании групп</p>
					<input type="checkbox" v-model="user.canCreateGroup" />
					<p>Учавствует в создании пользователей</p>
					<input type="checkbox" v-model="user.canCreateUsers" />
					<input type="submit" value="Отправить" />
				</form>
			</div>
		</div>
	</div>

</section>

<script src="~/js/Views/Home/account.js"></script>