h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    font-family: "Raleway";
    margin-top: 0;
    margin-bottom: 10px;
    color: #000000;
}
.users-inform {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #4D4D4D;
}
.secret-block {
    width: 100%;
    margin-top:30px;
    border-top: 2px solid #DFDFDF;
    display: flex;
}

.secret-block > .secrets {
    width: 35%;
    border-right: 2px solid #DFDFDF;
    box-sizing: border-box;
    padding: 0 20px;
}
.secret-block > .info {
    width: 65%;
    box-sizing: border-box;
}
.secrets .title {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.secrets .title p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;

}
.secrets .button-add {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background-color: #e7e5e5;
    cursor: pointer;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}
.secrets .search {
    width: 100%;
    background-color: #e7e5e5;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 15px;
}
.secrets .search img {
    width: 22px;
    margin-left: 5px;
    margin-right: 10px;
}
.secrets .search input {
    font-size: 18px;
    width: 255px;
    border: none;
    background-color: transparent;
    outline: none;
}
.secrets .list {
    display: flex;
    flex-direction: column;
    max-height: 200px;
}
.secret-item {
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    max-height: 28px;
}
.secret-item .preview {
    border-radius: 4px;
    width: 28px;
    height: 26px;
    display: flex;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 3px;
}
.secret-item .preview p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 0;
    margin: auto;
    color: white;
    text-transform: uppercase;
}
.secret-item .name {
    font-size: 16px;
    font-weight: 500;
    font-family: "Raleway";
    margin: auto 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}
.secret-item .link {
    opacity: 0;
    width: 24px;
    height: 24px;
    background-color: #e7e5e5;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 3px;
}
.secret-item .link img{
    width: 100%;
    height: 100%;
}
.secret-item:hover .link {
    opacity: 1;
}
.secrets .__vuescroll{
    max-height: 255px;
}

.secret-view {
    padding: 20px;
}
.detail-form {
    display: flex;
}
.detail-form .left{
    max-width: 400px;
    width:100%;
}
.detail-form .input-line {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
    margin-top: 10px;
    margin-bottom: 15px;
}
.detail-form .left p {
    font-size: 16px;
    font-weight: 500;
    font-family: "Raleway";
    margin-right: 10px;
    width: 75px;
}
.detail-form .right{
    margin-left: 30px;
}
.detail-form .right p {
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}
.detail-form .right .marker-color {
    display: flex;
    flex-wrap: wrap;
}
.detail-form .right .marker-color > label {
    margin-right: 20px;
    margin-bottom: 15px;
}
.detail-form .right .marker-color > label > div {
   
    cursor: pointer;
}
.detail-form .right .marker-color > label > div > div {
    width: 25px;
    height: 25px;
    border-radius: 2px;
}
.detail-form .right .marker-color > label img{
    transition: 0.3s;
    opacity:0;
}
.detail-form .right .marker-color > label input:checked + div img {
    opacity: 1;
}

.detail-form .right .marker-color > label input {
    display: none;
}

.detail-form .input-line .failed {
    background-color: #f18c8c;
}
.detail-form .input-line input, .detail-form textarea {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-family: "Raleway";
    width: 100%;
}
.detail-form textarea{
    margin-top: 10px;
}
.detail-form .text-line {
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 15px;
    margin-top: 10px;
}

.bottom-button [type="submit"] {
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 600;
    color: black;
    background-color: #ffcf00;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}