section.view-section {
    justify-content: space-between;
    display: flex;
}
    section.view-section .section-secrets {
        width: 58%;
        background-color: #ffffff6e;
        border-radius: 6px;
        height: 100%;
    }

section.view-section .section-secrets > div {
    padding: 25px;
}

section .view-section .section-info-view {
    width: 38%;
}

.line{
    width:100%;
    height:4px;
    background-color: #333333;
    margin-bottom:20px;
    border-radius: 2px;
}

section.view-section .section-secrets .list-secrets{
    display:flex;
    flex-direction:column;
    max-height: 530px;
    overflow-x:hidden;
    overflow-y: auto;
}

section.view-section .section-secrets .list-secrets .secrets-item {
    background-color: #5851A5;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 0.1s;
    filter: drop-shadow(0px 3px 4px rgba(33, 33, 33, 0.25));
}
.list-secrets .secrets-item:hover{
    background-color: #6962ba;
}
section.view-section .section-secrets .list-secrets .secrets-item {
}
section.view-section .section-secrets .list-secrets .secrets-item .left-info{
    margin-left: 20px;
}
section.view-section .section-secrets .list-secrets .secrets-item .left-info p {
    color: white;
}
section.view-section .section-secrets .list-secrets .secrets-item .left-info p.name {
    font-size: 18px;
    font-family: sans-serif;
    padding-bottom: 5px;
}
section.view-section .section-secrets .list-secrets .secrets-item .left-info p.link {
    font-size: 16px;

    font-family: sans-serif;
}
section.view-section .section-secrets .list-secrets .secrets-item .left-info p a {
    color: white;
    transition: 0.1s;
}
section.view-section .section-secrets .list-secrets .secrets-item .left-info p a:hover {
    color: #FFCF00;
}
.openguid-marker {
    position: absolute;
    transform: rotate( 45deg);
    top: -18px;
    left: 1px;
    background-color: #6CCB64;
    width: 18px;
    height: 45px;
    z-index: 2;
}

section.view-section .section-secrets .list-secrets .secrets-item .right-info{
    display:flex;
}
.list-secrets .secrets-item .right-info .copy-static {
    display: flex;
    margin: auto;
    margin-left: 10px;
    width: 36px;
    height: 36px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    transition:0.1s;
}
.list-secrets .secrets-item .right-info .copy-static .mail {
    background-image: url("/images/icons/mail.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    width: 24px;
    height: 26px;
    margin: auto;
}
.list-secrets .secrets-item .right-info .copy-static .pass {
    background-image: url("/images/icons/copy.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    width: 22px;
    height: 26px;
    margin: auto;
}
.list-secrets .secrets-item .right-info .copy-static:hover {
    background: #e2bd1b;
}


.header-secrets{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.header-secrets .search {
    display: flex;
    background: white;
    border-radius: 4px;
    padding: 10px 12px;
}
.header-secrets .search > img {
    margin-right: 10px;
}
.header-secrets .search > input {
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 20px;
    outline: none;
    transition: 0.3s;
    width: 70px
}
.header-secrets .search > input:focus {
    width: 180px
}
.section-info-view .secret-view {
    background-color: #ffffff6e;
    border-radius: 6px;
}

.button-add {
    background: #FFCF00;
    border-radius: 4px;
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
}
.button-add > p {
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    font-family: "Raleway";
    font-weight: 600;
}
/* detail */
.secret-view{
    position: relative;
}
.secret-view > div {
    padding: 20px;
}
.secret-view > div .title {
    font-family: "Raleway";
    font-size: 22px;
    color: #333333;
    font-weight: 600;
}
.detail-form input.failed {
    background-color: #ff9797;
}

.delete-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #0000006e;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
}
.delete-btn:hover {
    background-color: red;
}

.detail-view {
    position: relative;
}
.detail-view .name {
    font-family: "Raleway";
    font-size: 24px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 20px;
}
.detail-view a{
    display:block;
}
.detail-view a:hover {
    color: #FFCF00;
}
.detail-view .def-text {
    font-family: "Raleway";
    font-size: 20px;
    color: #333333;
    font-weight: 500;
    margin-bottom: 10px;
}
.detail-view .edit-pencil {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #0000006e;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
}
.detail-view .edit-pencil:hover {
    background-color: #389f476e;
}
form .input-line {
    margin: 10px 0;
}
form .input-line > p {
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}
form .input-line > input {
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: white;
}

form input[type="submit"] {
    border: none;
    background: #ffcf00;
    padding: 10px 45px;
    cursor: pointer;
    color: #333333;
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 600;
    border-radius: 2px;
    width: 65%;
}
form .bottom-button{
    display: flex;
    justify-content: space-between;
}

form .bottom-button > div {
    width: 30%;
    display: flex;
    background: #ffd2d2;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 600;
    color: #333333;
    transition: 0.3s;
}
form .bottom-button > div:hover {
    background: #ff7171;
}
form .bottom-button > div p{
    margin: auto;
}

h3 {
    font-family: 'Raleway';
    font-size: 22px;
}

.notification-list
{
    display: flex;
    flex-direction: column;
}
.notification-list .notification {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    background-color: #5851a5;
    margin-bottom: 15px;
}

    .notification-list .notification .title {
        font-family: "Raleway";
        color: white;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .notification-list .notification p {
        font-family: "Raleway";
        color: #e3e3e3;
        font-size: 18px;
        font-weight: 500;
    }