h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    font-family: "Raleway";
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
}
h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}
.top-section {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 8px;
    background-color: #242424
}
.users-inform {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #c7c7c7;
}
.users-inform a {
    color: #fbde52;
}
.secret-block {
    width: 100%;
    margin-top: 15px;
    display: flex;
}
.secrets + .__vuescroll{
    border-radius: 8px;
}

.secret-block > .secrets {
    width: 35%;
    box-sizing: border-box;
    margin-right: 20px;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
}
.secret-block > .info {
    width: 65%;
    box-sizing: border-box;
}
.secrets .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.secrets .title p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;

}
.secrets .button-add {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background-color: #e7e5e5;
    cursor: pointer;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}
.secrets .search {
    width: 100%;
    background-color: #e7e5e5;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 15px;
}
.secrets .search img {
    width: 22px;
    margin-left: 5px;
    margin-right: 10px;
}
.secrets .search input {
    font-size: 18px;
    width: 255px;
    border: none;
    background-color: transparent;
    outline: none;
}
.secrets .list {
    display: flex;
    flex-direction: column;
    max-height: 345px;
    transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}
.secret-item {
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    max-height: 28px;
}
.secret-item .preview {
    border-radius: 4px;
    width: 28px;
    height: 26px;
    display: flex;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 3px;
}
.secret-item .preview p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 0;
    margin: auto;
    color: white;
    text-transform: uppercase;
}
.secret-item .name {
    font-size: 16px;
    font-weight: 500;
    font-family: "Raleway";
    margin: auto 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 245px;
}
.title-secret {
    display: flex;
    justify-content: space-between;
}
.title-secret p {
    font-size: 24px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: "Raleway";
}
.secret-item .link {
    opacity: 0;
    width: 24px;
    height: 24px;
    background-color: #e7e5e5;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 3px;
}
.secret-item .link img{
    width: 100%;
    height: 100%;
}
.secret-item:hover .link {
    opacity: 1;
}

.delete-btn, .edit-pencil{
   width: 35px;
}
.input-line.password .icon-eye img {
    display:none;
}
.input-line.password [type="password"] + .icon-eye .open-e {
    display: block;
}
.input-line.password [type="text"] + .icon-eye .close-e {
    display: block;
}
.icon-eye {
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.secret-view {
    padding: 20px;
    border-radius: 8px;
    background: white;
    margin-bottom: 20px;
}
.secret-block .info {
    max-height: 463px;
    transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}
.detail-form {
    display: flex;
}
.detail-form .left{
    max-width: 400px;
    width:100%;
}
.detail-form .input-line {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
    margin-top: 10px;
    margin-bottom: 15px;
    position: relative;
}
.detail-form .left p {
    font-size: 16px;
    font-weight: 500;
    font-family: "Raleway";
    margin-right: 10px;
    width: 75px;
    cursor: context-menu;
}
.detail-form .right{
    margin-left: 30px;
}
.detail-form .right p {
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}
.detail-form .right .marker-color {
    display: flex;
    flex-wrap: wrap;
}
.detail-form .right .marker-color > label {
    margin-right: 20px;
    margin-bottom: 15px;
}
.detail-form .right .marker-color > label > div {
   
    cursor: pointer;
}
.detail-form .right .marker-color > label > div > div {
    width: 25px;
    height: 25px;
    border-radius: 2px;
}
.detail-form .right .marker-color > label img{
    transition: 0.3s;
    opacity:0;
}
.detail-form .right .marker-color > label input:checked + div img {
    opacity: 1;
}

.detail-form .right .marker-color > label input {
    display: none;
}

.detail-form .input-line .failed {
    background-color: #f18c8c;
}
.detail-form .input-line input, .detail-form textarea {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-family: "Raleway";
    width: 100%;
}
.detail-form textarea{
    margin-top: 10px;
}
.detail-form .text-line {
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 15px;
    margin-top: 10px;
}
.bottom-button{
    display: flex;
}
.bottom-button > div {
    background-color: #eb5757;
    padding: 10px 30px;
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 600;
    color: white;
    border-radius: 4px;
}
.bottom-button > div p {
    width: fit-content !important;
    margin: 0 !important;
}

.bottom-button [type="submit"] {
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 600;
    color: black;
    background-color: #ffcf00;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
}

.detail-view .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.detail-view .title .name {
    font-size: 22px;
    font-family: "Raleway";
    font-weight: 600;
    color: black;
    margin: auto;
    max-width: 400px;
}
.detail-view .title .text{
    display: flex;
}
.detail-view .title .preview {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
    display: flex;
}
.detail-view .title .preview p {
    margin: auto;
    font-family: "Raleway";
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    display: block
}
.detail-view .title .edit {
    height: fit-content;
    margin: auto 0;
    border: 1px solid #5b5b5b;
    border-radius: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s
}
.detail-view .title .edit:hover {
    background-color: #ffe18c;
    border: 1px solid #ffe18c;
}
.detail-view .title .edit p {
    font-size: 15px;
    font-family: "Raleway";
    font-weight: 600;
    display: block;
    margin: auto;
}
.body-secret{

}
.body-secret .default-line {
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.body-secret .default-line > div{
    display: flex;
}
.body-secret .default-line > div > p {
    font-size: 17px;
    font-family: "Raleway";
    font-weight: 600;
    margin-right: 10px;
    width: 85px;
}
.preview {
    position: relative;
    overflow: hidden;
}
.preview .open-key {
    position: absolute;
    width: 7px;
    background-color: forestgreen;
    height: 13px;
    left: -2px;
    top: -4px;
    transform: rotate( 45deg);
}
.preview.big .open-key {
    position: absolute;
    width: 10px;
    background-color: forestgreen;
    height: 23px;
    left: 0px;
    top: -7px;
    transform: rotate( 45deg);
}
.body-secret .default-line .text {
    max-width: 435px;
}
.body-secret .default-line p {
    font-size: 17px;
    font-family: "Raleway";
    font-weight: 500;
    color: black;
}
.body-secret .default-line a {
    font-size: 17px;
    font-family: "Raleway";
    font-weight: 500;
    color: black;
}
.body-secret .default-line a:hover {
    font-size: 17px;
    font-family: "Raleway";
    font-weight: 500;
    color: #ffe18c;
}
.body-secret .default-line input {
    font-size: 17px;
    font-family: "Raleway";
    font-weight: 500;
    color: black;
    border: none;
    background: transparent;
}
.body-secret .default-line .actions {
    display: flex;
    justify-content: flex-end;
}
.body-secret .comment-line {
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.body-secret .comment-line > div > p{
    font-size: 17px;
    font-family: "Raleway";
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}
.body-secret .comment-line .text p {
    font-size: 17px;
    font-family: "Raleway";
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}
.body-secret .default-line .actions > .item {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.body-secret .default-line .actions > .item img {
    margin: auto;
    width: 100%;
}