@model IEnumerable<ManagerWeb.Models.Secrets>

@{
	ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Views/Secrets/index.css" />
<script src="~/js/Views/Secrets/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

<section class="view-section" id="secrets-index">
	<div class="section-secrets">
		<div>
			<div class="header-secrets">
				@* o no o no o no no no no no *@
				<div class="search">
					<img src="~/images/icons/Union.svg" alt="Alternate Text" />
					<input type="text" v-model="search" placeholder="Поиск.." value="" />
				</div>
			</div>
			<div class="line"></div>
			<div class="list-secrets">
				<transition-group name="staggered-fade"
					tag="div"
					v-bind:css="false"
					v-on:before-enter="beforeEnter"
					v-on:enter="enter"
					v-on:leave="leave">
					<div v-for="(arSecret, index) in computedArSecrets" v-bind:key="arSecret.NAME" v-bind:data-index="index" 
						 style="position:relative;overflow: hidden;">
						<div v-if="arSecret.OPEN_GUID == true" class="openguid-marker"></div>
						@* element *@
						<div class="secrets-item" v-on:click="ShowSecretDetail(index)">
							<div class="left-info">
								<p class="name">{{arSecret.NAME}}</p>
								<p class="link"><a target="_blank" :href="arSecret.LINK"> {{arSecret.LINK}} </a></p>
							</div>
							<div class="right-info">
								<div class="copy-static" v-on:click="ToCopy(arSecret.LOGIN)"><div class="mail"></div></div>
								<div class="copy-static" v-on:click="ToCopy(arSecret.PASSWORD)"><div class="pass"></div></div>
							</div>
						</div>
					</div>
				</transition-group>
			</div>
		</div>
	</div>
	<div class="section-info-view">
		<div v-if="viewSecretsDetail == true && currentSecretsView != undefined" class="secret-view">
			<div>
				<p class="title">{{currentSecretsView.NAME}}</p>
				@*<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="ManagerWeb.Models.Secrets.GUID" class="control-label"></label>
						<input asp-for="GUID" class="form-control" />
						<span asp-validation-for="GUID" class="text-danger"></span>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input asp-for="OPEN_GUID" /> @Html.DisplayNameFor(model => model.OPEN_GUID)
							</label>
						</div>
					</div>
					<div class="form-group">
						<label asp-for="NAME" class="control-label"></label>
						<input asp-for="NAME" class="form-control" />
						<span asp-validation-for="NAME" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="LINK" class="control-label"></label>
						<input asp-for="LINK" class="form-control" />
						<span asp-validation-for="LINK" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="LOGIN" class="control-label"></label>
						<input asp-for="LOGIN" class="form-control" />
						<span asp-validation-for="LOGIN" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="PASSWORD" class="control-label"></label>
						<input asp-for="PASSWORD" class="form-control" />
						<span asp-validation-for="PASSWORD" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="COMMENT" class="control-label"></label>
						<input asp-for="COMMENT" class="form-control" />
						<span asp-validation-for="COMMENT" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="CREATOR_ID" class="control-label"></label>
						<input asp-for="CREATOR_ID" class="form-control" />
						<span asp-validation-for="CREATOR_ID" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Create" class="btn btn-default" />
					</div>
				</form>*@
			</div>

			<p>{{currentSecretsView}}</p>
		</div>
		<div class="notification-view">
			<h3>Уведомленя</h3>
			<div class="hr-line"></div>
		</div>
	</div>
	<div>
		
	</div>
</section>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}