@model IEnumerable<ManagerWeb.Models.Secrets>

@{
	ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Views/Secrets/index.css" />
<script src="~/js/Views/Secrets/functions.js"></script>
<script src="~/js/Views/Secrets/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

<section class="view-section" id="secrets-index">
	<div class="section-secrets">
		<div>
			<div class="header-secrets">
				<div>
					<div class="search">
						<img src="~/images/icons/Union.svg" />
						<input type="text" v-model="search" placeholder="Поиск.." value="" />
					</div>
				</div>
				<div class="button-add" v-on:click="ShowSecretDetail('create')">
					<p>Добавить</p>
				</div>
			</div>
			<div class="line"></div>
			<div class="list-secrets">
				<transition-group name="staggered-fade"
					tag="div"
					v-bind:css="false"
					v-on:before-enter="beforeEnter"
					v-on:enter="enter"
					v-on:leave="leave">
					<div v-if="computedArSecrets" v-for="(arSecret, index) in computedArSecrets" v-bind:key="arSecret.GUID" v-bind:data-index="index"
						 style="position:relative; overflow: hidden;">
						<div v-if="arSecret.OPEN_GUID == true" class="openguid-marker"></div>
						@* element *@
						<div class="secrets-item" v-on:click="ShowSecretDetail('view', index)">
							<div class="left-info">
								<p class="name">{{arSecret.NAME}}</p>
								<p class="link"><a target="_blank" :href="arSecret.LINK"> {{arSecret.LINK}} </a></p>
							</div>
							<div class="right-info">
								<div class="copy-static" v-on:click="ToCopy(arSecret.LOGIN)"><div class="mail"></div></div>
								<div class="copy-static" v-on:click="ToCopy(arSecret.PASSWORD)"><div class="pass"></div></div>
							</div>
						</div>
					</div>
				</transition-group>
			</div>
		</div>
	</div>
	<div class="section-info-view">
		<div v-if="viewSecretsDetail == true" class="secret-view">
			<div v-if="detailForm.typeAction == 'create' || detailForm.typeAction == 'edit'">
				<div v-if="detailForm.typeAction == 'edit'" class="delete-btn" v-on:click="ShowSecretDetail('view', currentSecretsID)"><img src="~/images/icons/delete-secret.svg" alt="pencil" /></div>
				<div>
					<form class="detail-form" action="/" v-on:submit="checkForm" method="post">
						
						<input type="checkbox" v-model="detailForm.fields.OPEN_GUID.VALUE"
								name="open-guid" v-bind:class="{failed : detailForm.fields.OPEN_GUID.FAILED == true}" />
						
						<div class="input-line">
							<p>Имя</p>
							<input type="text" v-model="detailForm.fields.NAME.VALUE"
								   name="name" v-bind:class="{failed : detailForm.fields.NAME.FAILED == true}" />
						</div>
						<div class="input-line">
							<p>Ссылка</p>
							<input type="text" v-model="detailForm.fields.LINK.VALUE"
								   name="link" v-bind:class="{failed : detailForm.fields.LINK.FAILED == true}" />
						</div>
						<div class="input-line">
							<p>Логин</p>
							<input type="text" v-model="detailForm.fields.LOGIN.VALUE"
								   name="login" v-bind:class="{failed : detailForm.fields.LOGIN.FAILED == true}" />
						</div>
						<div class="input-line">
							<p>Пароль</p>
							<input type="text" v-model="detailForm.fields.PASSWORD.VALUE"
								   name="pass" v-bind:class="{failed : detailForm.fields.PASSWORD.FAILED == true}" />
						</div>
						<div class="input-line">
							<p>Комментарий</p>
							<input type="text" v-model="detailForm.fields.COMMENT.VALUE"
								   name="comment" v-bind:class="{failed : detailForm.fields.COMMENT.FAILED == true}" />
						</div>
						<div class="bottom-button">
							<input type="submit" value="Сохранить" />
							<div v-on:click="DeleteSecret()">
								<p>Удалить</p>
							</div>
						</div>
						
					</form>
				</div>
			</div>
			<div v-if=" detailForm.typeAction == 'view' && currentSecretsView != undefined">
				<div class="detail-view">
					<div class="edit-pencil" v-on:click="ShowSecretDetail('edit')"><img src="~/images/icons/pencil.svg" alt="pencil" /></div>
					<p class="name">{{currentSecretsView.NAME}}</p>
					<a :href="currentSecretsView.LINK" class="def-text">{{currentSecretsView.LINK}}</a>
					<p class="def-text">{{currentSecretsView.LOGIN}}</p>
					<p class="def-text">{{currentSecretsView.PASSWORD}}</p>
					<p class="def-text">{{currentSecretsView.COMMENT}}</p>
				</div>
			</div>
		</div>
		<div class="notification-view">
			<h3>Уведомленя</h3>
			<div class="hr-line"></div>
			<div class="notification-list">
				<div class="notification">
					<p class="title">Второе уведомление тест</p>
					<p class="text">бла бла тут текст рыба ыы, 111 девять десять. <br /> Сегодня ел чебурек ксты.</p>
				</div>
				<div class="notification">
					<p class="title">Первое уведомление</p>
					<p class="text">Что-то вроде работает, но пока мала</p>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}