@model IEnumerable<ManagerWeb.Models.Secrets>

@{
	ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Views/Secrets/index.css" />
<script src="~/js/Views/Secrets/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

<section class="view-section" id="secrets-index">
	<div class="section-secrets">
		<div>
			<div class="header-secrets">
				@* o no o no o no no no no no *@
				<div class="search">
					<img src="~/images/icons/Union.svg" alt="Alternate Text" />
					<input type="text" v-model="search" placeholder="Поиск.." value="" />
				</div>
			</div>
			<div class="line"></div>
			<div class="list-secrets">
				<transition-group name="staggered-fade"
					tag="div"
					v-bind:css="false"
					v-on:before-enter="beforeEnter"
					v-on:enter="enter"
					v-on:leave="leave">
					<div v-for="(arSecret, index) in computedArSecrets" v-bind:key="arSecret.NAME" v-bind:data-index="index" 
						 style="position:relative;overflow: hidden;">
						<div v-if="arSecret.OPEN_GUID == true" class="openguid-marker"></div>
						@* element *@
						<div class="secrets-item" v-on:click="ShowSecretDetail(index)">
							<div class="left-info">
								<p class="name">{{arSecret.NAME}}</p>
								<p class="link"><a target="_blank" :href="arSecret.LINK"> {{arSecret.LINK}} </a></p>
							</div>
							<div class="right-info">
								<div class="copy-static"><div class="mail"></div></div>
								<div class="copy-static"><div class="pass"></div></div>
							</div>
						</div>
					</div>
				</transition-group>
			</div>
		</div>
	</div>
	<div class="section-info-view">
		<div v-if="viewSecretsDetail == true && currentSecretsView != undefined" class="secret-view">
			<p>{{currentSecretsView.NAME}}</p>
		</div>
		<div class="notification-view">
			<h3>Уведомленя</h3>
			<div class="hr-line"></div>
		</div>
	</div>
	<div>
		
	</div>
</section>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}